<div class="well text-center">

  {{#if session.isAuthenticated}}

    <p>
        User: {{session.data.user.displayName}}
    </p>

    {{#bs-button type="default" class="btn-lg" icon="fa fa-logout" action="logout"}}
        Log out
    {{/bs-button}}

  {{else}}

    {{#bs-button type="success" class="btn-lg" icon="fa fa-github" action="login"}}
      Log in with Github
    {{/bs-button}}

  {{/if}}

</div>

